<html>
    <body bgcolor="<%= mycolor %>">
       Your num1 is :  <%= num1 %> <br/>
       Your num2 is : <%= num2 %> <br/>
       Your sum is : <%= c  %><br/>  
       Your grade is : <%= msg  %>  
    </body>
</html>