<html>
  <body>
    <% if(isErr){ %>
    <h1><%= msg %></h1>
    <% } else { %> 
    <%= email %><br />
    <%= name %><br />
    <%= phone %><br />
    <%= city %><br />
    <%= pincode %><br />
    <%= psw %><br />
    <%= msg %> <br/>
    <% } %>
  </body>
</html>
